/* Contenedor principal */
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #003459;
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
}

header {
	background: rgba(255, 255, 255, 0.8);
	background-color: #1B396A;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}
header h1 {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}
.iconTitle {
	display: flex;
	align-items: center;
}

.icon {
	width: 40px;
	padding-right: 5px;
	margin-top: -10px;
}

.iconMenu {
	width: 25px;
	margin-top: 5px;
}



.search2 {
	/* position: relative;
  z-index: 2; */
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 8px;
	margin: 10px;
	width: 700px;
	justify-self: center;
	padding: 5px;
	background-color: #fff;
}

.busquedaIcon {
	margin-right: 10px;
	width: 18px;
	height: 18px;
}

.searchtext {
	border: none;
	outline: none;
	-webkit-appearance: none; /* Quita estilos por defecto en Chrome/Safari */
	-moz-appearance: none; /* Quita estilos por defecto en Firefox */
	appearance: none; /* Para otros navegadores */
	padding: 3px;
	font-size: 17px;
	width: 100%;
	border-radius: 3px;
	background: transparent;
}


/* Vista ayuda */
.informacion{
	font-size: 14px;
	margin-left: 410px;
	width: 800px;
}
.informacion p{
	text-align: left;
}
.listaAreas{
text-align: left;
}
.imagAyuda{
	width: 130px;
	margin-left: 30px;
}
.imagAyuda2{
	width: 260px;
	margin-left: 30px;
}

/* Vista InfoDesarrollador */
.imagLogo{
	margin-left: 44%;
	margin-top: 60px;
	max-width: 230px;
}
#title{
	margin-top: 40px;
	margin-left: 43%;
	margin-bottom: -5px;
}
.Desarrolladores{
	text-align: left;
	color: black;
	margin-left: 42%;
	margin-bottom: 20px;
}
.login{
	margin-left: 47%;
	width: 150px;
	height: 30px;
	background-color: #007EA7;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;

}

/* Navegación inferior */
nav {
	background-color: #D9D9D9;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	height: 55px;
}

.nav-item a {
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-item img {
	width: 35px;
	height: 35px;
}

nav h3 {
	font-size: 14px;
	margin: 5px 0;
}